.accueil-main-title {
  margin-top: 233px;
}

.accueil-second-title {
  margin-bottom: 115px;
}

.accueil-bouton {
  margin-bottom: 229px;
}

.accueil-fond {
  background-image: url("img/fond-accueil.png");
}
