.accueil-main-title {
  margin-top: 203px;
}

.accueil-second-title {
  margin-bottom: 115px;
}

.accueil-bouton {
  margin-bottom: 229px;
}

.accueil-fond {
  background-image: url("../img/fond-accueil.png");
  background-size: cover;
  height: 100vh;
}
