.button:hover {
  background-color: white;
  opacity: 50%;
  color: black;
  padding: 8px 32px;
}

a:hover {
  border-bottom: 2px solid white;
}

.header-category:hover {
  margin-bottom: 18px;
}

.button-spacing:hover {
  margin-bottom: 107px;
  display: inline-block;
}
