.accueil-main-title {
  margin-top: 203px;
  display: flex;
  justify-content: center;
}

.accueil-second-title {
  margin-bottom: 115px;
  display: flex;
  justify-content: center;
}

.accueil-button {
  margin-bottom: 229px;
}

.accueil-fond {
  background-image: url("../img/fonds/rose.png");
  background-size: cover;
  height: 100vh;
}
