.projects-main-title {
  margin-bottom: 47px;
}
.project-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-card {
  margin: 47px 0px;
}

.projects-pages-nav {
  display: flex;
  justify-content: center;
  gap: 45px;
  margin-bottom: 97px;
}
