.projets-main-title {
  margin-bottom: 47px;
}

.projets-img {
  height: 414px;
}
.projets-explications {
  display: flex;
  align-items: flex-start;
  height: 414px;
}

.projets-bouton {
  align-items: flex-end;
}
.projets-premier {
  display: flex;
  margin: 47px 0px;
}
