* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
  max-height: 50vh;
}

body {
  font-family: raleway;
  color: white;
  background-color: black;
  font-size: 15;
}

h1 {
  font-family: miltonian;
  font-size: 96;
}
h2 {
  font-size: 36;
}
