.l-third-line {
  margin-bottom: 92px;
  border-top: 1px solid white;
}

.l-second-line {
  margin-top: 130px;
  border-top: 1px solid white;
}

.l-first-line {
  border-bottom: 1px solid white;
}

.l-background-img {
  background-image: url("/src/img/fonds/fond.png");
  background-size: 200%;
  animation: changebg1 10s ease-in-out infinite;
}

@keyframes changebg1 {
  0%,
  100% {
    background-position: 0;
  }

  50% {
    background-position: 100%;
  }
}
